* {
  box-sizing: border-box;
}

html,
button,
input,
textarea,
select,
option {
  font-family: sans-serif;
  font-size: 22px;
  color: #234;
  user-select: none;
}

div {
  /* border: 1px solid #234; */
  padding: 5px;
}

.main {
  border: 5px solid #234;
  border-radius: 20px;
}

.question {
  border: 1px solid #234;
  border-radius: 20px;
  padding: 15px 0;
  border: 0px solid #234;
  box-shadow: 0 0 15px 0 #2345;
}

.row {
  font-size: 0;
  white-space: nowrap;
  overflow: nowrap;
}

.col {
  font-size: 22px;
  display: inline-block;
  overflow: hidden;
  white-space: normal;
  height: 100%;
  vertical-align: top;
}

.answers .col {
  width: 50%;
}

.send-result,
.question {
  text-align: center;
}

.answers span {
  font-style: italic;
}

.send-result button {
  font-size: 26px;
  padding: 15px 55px;
  border-radius: 20px;
  background: #fff;
  border: 0px solid #234;
  box-shadow: 0 0 15px 0 #2345;
  margin: 25px 0;
}

label {
  padding: 0 15px;
  border: 0px solid #234;
  box-shadow: 0 0 15px 0 #2345;
  border-radius: 20px;
  display: inline-block;
  line-height: 50px;
  width: 100%;
}

input[type='radio'] {
  height: 20px;
  width: 20px;
}

label:has(:checked) {
  background: aliceblue;
}
